
{% extends "base.html" %}

{% block title %}
Elo Power Rankings
{% endblock %}

{% block content %}
<h1>NCAA D1 Men's Hockey</h1>
<p>I'm working on the calculations</p>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>W</th>
      <th>L</th>
      <th>T</th>
      <th>ELO</th>
    </tr>
  </thead>
  <tbody>
    <p style="font-style:italic; color:#777;">
      Last updated at {{ last_updated }}
    </p>
    {% for row in elo_table %}
    <tr>
      <td>{{ row.rank }}</td>
      <td>
        <a href="{{ url_for('show_team_schedule', team_name=row.team) }}">{{ row.display_name }}</a>
      </td>
      <td>{{ row.W }}</td>
      <td>{{ row.L }}</td>
      <td>{{ row.T }}</td>
      <td>{{ row.rating }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  <table>
    <thead>
      <tr>
        <th>Conference</th>
        <th>Avg ELO</th>
      </tr>
    </thead>
    <tbody>
      {% for conf in conference_elos %}
      <tr>
        <td>{{ conf.Conference }}</td>
        <td>{{ "%.1f"|format(conf.Elo) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
